/* ----- GLOBAL BACKGROUND (InnerBuddies Dashboard Mock) ----- */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Make sure the React root doesn't override the background */
.app {
  background: transparent !important;
}
